.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #242424;
    padding: 0px 20px;
  }
  
  .logo img {
    width: 150px;
  }
  
  .text {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    color: #ffffff;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .cab {
    margin: 0px 20px 0px 0px;
  }
  
  .foto_perfil img {
    width: 40px;
  }
  
  .faixa1 {
    display: flex;
    align-items: center;
  }
  
  .faixa-cabelo {
    background-image: url("../public/imgs/cabelo1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .text-cabelo {
    display: flex;
  
    text-align: center;
    font-size: 144px;
    padding: 96px 213px;
    color: #e3b052;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .faixa2 {
    background-color: #13213c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 0px 100px 0px;
  }
  
  .titulo {
    color: #ffffff;
    font-size: 50px;
    padding: 0px 0px 33px 0px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .equipe {
    display: flex;
    flex-direction: row;
  }
  
  .equipe img {
    width: 416px;
    height: 409px;
    border-radius: 34px;
    margin: 0px 85px 0px 0px;
  }
  
  .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .desc2 {
    color: #ffffff;
    font-size: 16px;
    padding: 0px 0px 19px 0px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .faixa3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0c1526;
    padding: 100px 92px;
  }
  
  .faixa3 img {
    width: 628px;
    height: 416px;
    border-radius: 34px;
    margin: 0px 41px 0px 0px;
  }
  
  .faixa4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #13213c;
    padding: 54px 0px 65px 0px;
    align-items: center;
  }
  
  .destaques {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .titulo2 {
    color: #e3b052;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .box img {
    width: 267px;
    height: 283px;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    background-color: #174580;
    width: 342px;
    height: 536px;
    align-items: center;
    justify-content: center;
    margin: 32px 30px 58px 30px;
  }
  
  .des {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    margin: 27px 0px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .box button {
    background-color: #e3b052;
    color: #ffffff;
    padding: 19px 124px;
    border: none;
    border-radius: 22px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .marcas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .marcas img {
    width: 200px;
    margin: 0px 20px;
  }
  
  .faixa5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0c1526;
    padding: 50px 0px 0px;
  }
  
  .tit {
    color: #e3b052;
    font-size: 16px;
    padding: 0px 0px 27px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .tit2 {
    color: #e3b052;
    font-size: 16px;
    padding: 50px 0px 27px 0px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .info {
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Josefin Sans', sans-serif;
  }
  